@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

@font-face {
  font-family: MuseoSansCyrl900I;
  src: url(../fonts/MuseoSansCyrl_900_Italic.otf); }

@font-face {
  font-family: MuseoSansCyrl900;
  src: url(../fonts/MuseoSansCyrl_900.otf); }

@font-face {
  font-family: MuseoSansCyrl700;
  src: url(../fonts/MuseoSansCyrl_700.otf); }

@font-face {
  font-family: MuseoSansCyrl500;
  src: url(../fonts/MuseoSansCyrl_500.otf); }

@font-face {
  font-family: MuseoSansCyrl300;
  src: url(../fonts/MuseoSansCyrl_300.otf); }

@font-face {
  font-family: MuseoSansCyrl700I;
  src: url(../fonts/MuseoSansCyrl_700_Italic.otf); }

@font-face {
  font-family: MuseoSansCyrl300I;
  src: url(../fonts/MuseoSansCyrl_300_Italic.otf); }

.wrapper {
  width: 100%;
  margin: auto; }

.w_1200 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

b, strong {
  font-family: MuseoSansCyrl700; }

.top {
  background-color: #f5f5f5;
  overflow: hidden;
  margin-bottom: 20px; }

.top_mnu {
  margin-top: 27px;
  float: right; }
  .top_mnu ul {
    margin: 0; }
  .top_mnu li {
    float: left;
    list-style: none;
    line-height: 1; }
  .top_mnu a {
    color: #424242;
    font-family: MuseoSansCyrl700;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 4px 7px;
    line-height: 1; }
    .top_mnu a:hover {
      border: 2px solid #ff9000;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-decoration: none; }

.active a {
  border: 2px solid #ff9000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none; }

.top_phone {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 18px;
  text-transform: uppercase;
  float: left;
  background: url("../img/top_icon_phone.png") no-repeat left center;
  padding-left: 22px;
  margin-top: 14px; }

.top_mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 17px;
  float: right; }
  .top_mail a {
    color: #ff950c;
    font-family: MuseoSansCyrl700;
    font-size: 14px;
    text-decoration: underline;
    float: left;
    font-weight: 700;
    background: url("../img/top_icon_mail.png") no-repeat left center;
    padding-left: 22px; }

.top_adress {
  float: left;
  background: url("../img/top_icon_adress.png") no-repeat left center;
  padding-left: 22px;
  color: #2f2f2f;
  font-family: MuseoSansCyrl500;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.2;
  min-height: 14px; }

.nopadding {
  padding: 0 !important; }

.nopadding-l {
  padding-left: 0 !important; }

.nopadding-r {
  padding-right: 0 !important; }

.slider_wrap {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  position: relative; }
  .slider_wrap h2 {
    color: black;
    font-family: MuseoSansCyrl900I;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0; }

.slider_ul {
  z-index: 10; }

.slider_text {
  position: absolute;
  top: 55px;
  left: 42px; }
  .slider_text li {
    height: 22px;
    color: black;
    font-family: MuseoSansCyrl300;
    font-size: 16px;
    margin-bottom: 14px;
    padding-left: 40px;
    background: url("../img/check_li.png") no-repeat left center; }

/**************************************************/
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px; }

.slides {
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.slide {
  height: 100%;
  float: left;
  clear: none; }

.box {
  position: relative; }

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  background-color: #000;
  opacity: 0.3;
  text-decoration: none;
  color: #FFF;
  font-family: Verdana;
  display: none;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .slider-arrow:hover {
    opacity: 0.5; }

.slider-arrow--right {
  bottom: 50%;
  right: 0; }

.slider-arrow--left {
  bottom: 50%;
  left: 0; }

.slider-nav {
  position: absolute;
  bottom: 15px;
  z-index: 100; }

.slider-nav__item {
  width: 7px;
  height: 7px;
  float: left;
  clear: none;
  display: block;
  margin: 0 1.5px;
  background: #000;
  -webkit-border-radius: 50px;
          border-radius: 50px; }
  .slider-nav__item:focus {
    outline: none; }

.slider-nav__item--current {
  background-color: #ff9000; }

/**************************************************/
.left_mnu {
  width: 270px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 3px solid #ff9000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 22px 0 0; }
  .left_mnu h2 {
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 18px;
    padding: 0 20px;
    margin-bottom: 20px; }
  .left_mnu a {
    font-family: MuseoSansCyrl500;
    display: block;
    color: #2f2f2f;
    font-family: MuseoSansCyrl500;
    font-size: 15px;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1px solid #DAD9D7;
    line-height: 1.2; }
    .left_mnu a:hover {
      background-color: #ff9000;
      text-decoration: none; }

.main_content {
  padding-bottom: 20px;
  overflow: hidden; }

.content {
  float: right;
  width: 870px;
  color: #2f2f2f;
  font-family: MuseoSansCyrl300;
  font-size: 15px;
  line-height: 21px; }
  .content p {
    margin-bottom: 20px; }
    .content p:last-child {
      margin-bottom: 0; }

h1 {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 30px;
  margin-bottom: 35px;
  line-height: 1; }

h2 {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 24px;
  margin-bottom: 20px; }

h3 {
  color: #2f2f2f;
  font-family: MuseoSansCyrl900;
  font-size: 18px;
  margin-bottom: 20px; }

.img_block {
  width: 100%;
  background-color: #f2f2f2;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  margin-bottom: 25px; }
  .img_block img {
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.floatleft {
  float: left;
  margin: 0 30px 15px 0; }

.floatright {
  float: right;
  margin: 0 0 15px 30px; }

.price_table {
  background-color: #F2F2F2;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; }
  .price_table td {
    padding: 10px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .price_table thead {
    background-color: #E0E0E0;
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 15px; }
    .price_table thead td {
      padding: 15px; }
  .price_table tbody tr {
    color: #2f2f2f;
    font-family: MuseoSansCyrl500;
    font-size: 15px; }
  .price_table tbody td {
    border-bottom: 1px solid #e0e0e0; }
    .price_table tbody td:nth-child(2n-1) {
      width: 50%; }
    .price_table tbody td:nth-child(2n) {
      width: 30%; }

.last_news {
  margin-top: 45px; }
  .last_news h3 {
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 18px;
    margin-bottom: 30px; }
  .last_news a {
    display: block;
    float: left;
    margin-bottom: 25px;
    color: black;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    text-decoration: underline; }
    .last_news a:hover {
      text-decoration: none; }
  .last_news .all_lnews_link {
    display: block;
    text-align: left;
    color: #ff9000;
    font-family: MuseoSansCyrl700;
    font-size: 15px;
    text-decoration: underline; }
    .last_news .all_lnews_link:hover {
      text-decoration: none; }

.left_form {
  width: 270px;
  background-color: #ff9000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px; }
  .left_form h3 {
    color: #2f2f2f;
    font-family: MuseoSansCyrl900;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center; }
  .left_form input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 39px;
    width: 100%;
    background-color: white;
    border: 2px solid #ffba60;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 0 15px;
    color: #2f2f2f;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    margin-bottom: 10px; }
  .left_form textarea {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 89px;
    background-color: white;
    border: 2px solid #ffba60;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 10px 15px;
    color: #2f2f2f;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    margin-bottom: 10px; }
  .left_form button {
    width: 100%;
    height: 39px;
    background-color: black;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
    font-family: MuseoSansCyrl300;
    font-size: 15px;
    line-height: 18px; }

.left_widget_vk {
  text-align: center;
  margin-top: 30px; }

.footer {
  background-color: #F2F2F2;
  padding: 30px 0; }

.copy {
  color: #2f2f2f;
  font-family: MuseoSansCyrl300;
  font-size: 14px; }

.footer_adress {
  color: #2f2f2f;
  font-family: MuseoSansCyrl500;
  font-size: 12px;
  margin-left: 45px;
  padding-left: 20px;
  background: url("../img/top_icon_adress.png") no-repeat left center;
  height: 14px;
  line-height: 1.2; }

.footer_phone {
  color: #2f2f2f;
  font-family: MuseoSansCyrl700;
  font-size: 18px;
  padding-left: 20px;
  margin-left: 30px;
  background: url("../img/top_icon_phone.png") no-repeat left center; }
  .footer_phone span {
    font-size: 12px;
    font-family: MuseoSansCyrl500; }

.footer_mail a {
  color: #ff950c;
  font-family: MuseoSansCyrl700;
  font-size: 14px;
  text-decoration: underline;
  padding-left: 20px;
  background: url("../img/top_icon_mail.png") no-repeat left center; }

.bread {
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 12px; }
  .bread li {
    float: left;
    font-size: 11px;
    text-transform: uppercase;
    font-family: MuseoSansCyrl700I; }
    .bread li a {
      color: black;
      text-decoration: underline; }
      .bread li a:after {
        line-height: 0.8;
        font-size: 12px;
        font-family: MuseoSansCyrl700I;
        content: ">";
        float: right;
        margin-right: 5px;
        margin-left: 5px;
        display: inline; }
    .bread li span {
      color: #ff9000; }

.content li {
  margin-bottom: 13px;
  padding-left: 40px;
  min-height: 22px; }

.content ul li {
  background: url("../img/check_li.png") no-repeat left top; }

.content ol {
  list-style-type: none;
  counter-reset: num; }
  .content ol li:before {
    content: counter(num) ". ";
    counter-increment: num;
    color: #ff9000;
    font-family: MuseoSansCyrl900I;
    font-size: 18px;
    text-transform: uppercase; }

.lists {
  margin-bottom: 40px;
  overflow: hidden; }

.br5 {
  border-right: 5px; }

.imgs {
  margin-bottom: 50px;
  overflow: hidden; }

blockquote {
  background-color: #F2F2F2;
  color: #2f2f2f;
  font-family: MuseoSansCyrl300I;
  font-size: 15px;
  line-height: 21px;
  padding: 25px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  position: relative; }
  blockquote:before {
    content: '“';
    position: absolute;
    top: 10px;
    left: 5px;
    line-height: 1; }
  blockquote b {
    color: #2f2f2f;
    font-family: MuseoSansCyrl500;
    font-size: 15px; }
  blockquote:after {
    content: '”';
    margin-bottom: 15px;
    position: absolute;
    bottom: 15px;
    right: 35px; }
  blockquote:before, blockquote:after {
    color: #ff9000;
    font-family: "MV Boli";
    font-size: 72px;
    font-weight: 400; }

.ml0 {
  margin-left: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.tags {
  height: 50px;
  overflow: hidden;
  padding-top: 23px;
  border-top: 1px solid #e0e0e0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .tags a {
    color: #ff9000;
    font-family: MuseoSansCyrl700;
    font-size: 14px;
    text-decoration: underline;
    margin-right: 30px;
    display: inline-block; }
    .tags a:hover {
      text-decoration: none; }
  .tags .all_tags, .tags .hide_tags {
    color: black; }

.hide_tags {
  display: none; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .w1200 {
    width: 100%; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

@media only screen and (max-width: 570px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

@media only screen and (max-width: 400px) {
  /**/ }

@media only screen and (max-width: 360px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .main-mnu {
    display: block !important; }
  a {
    outline: none !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
