html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

li {
  list-style: none; }

ul {
  padding: 0;
  margin: 0; }

.wrapper {
  width: 100%;
  margin: auto; }

.w_1200 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: MuseoSansCyrl;
  src: url(../fonts/Museosanscyrl500.ttf); }

@font-face {
  font-family: MuseoSansCyrlI900;
  src: url(../fonts/Museo_Sans_Cyrl_900.ttf); }

.top {
  background-color: #f5f5f5;
  overflow: hidden;
  margin-bottom: 20px; }

.top_mnu {
  margin-top: 27px;
  float: right; }
  .top_mnu ul {
    margin: 0; }
  .top_mnu li {
    float: left;
    list-style: none;
    line-height: 1; }
  .top_mnu a {
    color: #424242;
    font-family: MuseoSansCyrl;
    font-size: 14px;
    border: 2px solid transparent;
    padding: 4px 7px;
    font-weight: 700;
    line-height: 1; }
    .top_mnu a:hover {
      border: 2px solid #ff9000;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-decoration: none; }

.active a {
  border: 2px solid #ff9000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none; }

.top_phone {
  color: #2f2f2f;
  font-family: MuseoSansCyrl;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  float: left;
  background: url("../img/top_icon_phone.png") no-repeat left center;
  padding-left: 22px;
  margin-top: 14px; }

.top_mail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 17px;
  float: right; }
  .top_mail a {
    color: #ff950c;
    font-family: MuseoSansCyrl;
    font-size: 14px;
    text-decoration: underline;
    float: left;
    font-weight: 700;
    background: url("../img/top_icon_mail.png") no-repeat left center;
    padding-left: 22px; }

.top_adress {
  float: left;
  background: url("../img/top_icon_adress.png") no-repeat left center;
  padding-left: 22px;
  color: #2f2f2f;
  font-family: MuseoSansCyrl;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
  line-height: 1.2;
  min-height: 14px; }

.nopadding {
  padding: 0 !important; }

.slider_wrap {
  max-width: 1170px;
  width: 100%;
  margin: auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  overflow: hidden;
  position: relative; }
  .slider_wrap h2 {
    color: black;
    font-family: MuseoSansCyrlI900;
    font-size: 24px;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0; }

.slider_ul {
  z-index: 10; }

.slider_text {
  position: absolute;
  top: 55px;
  left: 42px; }
  .slider_text li {
    height: 22px;
    color: black;
    font-family: MuseoSansCyrl;
    font-size: 16px;
    margin-bottom: 14px;
    padding-left: 40px;
    background: url("../img/check_li.png") no-repeat left center; }

/**************************************************/
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px; }

.slides {
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.slide {
  height: 100%;
  float: left;
  clear: none; }

.box {
  position: relative; }

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  background-color: #000;
  opacity: 0.3;
  text-decoration: none;
  color: #FFF;
  font-family: Verdana;
  display: none;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .slider-arrow:hover {
    opacity: 0.5; }

.slider-arrow--right {
  bottom: 50%;
  right: 0; }

.slider-arrow--left {
  bottom: 50%;
  left: 0; }

.slider-nav {
  position: absolute;
  bottom: 15px;
  z-index: 100; }

.slider-nav__item {
  width: 7px;
  height: 7px;
  float: left;
  clear: none;
  display: block;
  margin: 0 1.5px;
  background: #000;
  -webkit-border-radius: 9px;
          border-radius: 9px; }
  .slider-nav__item:focus {
    outline: none; }

.slider-nav__item--current {
  background-color: #ff9000; }

/**************************************************/
.left_mnu {
  width: 270px; }

.content {
  float: right;
  width: 870px; }
